/* ================= CAR PAGE ================= */
/* HEADER */
.car-header {
  margin-bottom: 40px;
}

.car-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.car-header p {
  color: #888;
  font-size: 14px;
}

/* FILTER GROUP */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-group label {
  font-size: 13px;
  font-weight: 500;
}



.car-page {
  padding: 120px 80px;
  min-height: 100vh;
}

/* Title */
.car-title {
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.filter-bar select {
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.filter-bar select:hover {
  border: 1px solid #ff3c00;
}

/* GRID */
.car-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* CARD */
.car-card {
  background: #ffffff;
  border-radius: 25px;
  padding: 25px;
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  cursor: pointer;
  overflow: hidden;
}

.car-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

/* IMAGE */
.car-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* NAME */
.car-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

/* PRICE */
.car-price {
  font-size: 16px;
  font-weight: 500;
  color: #ff3c00;
  margin-bottom: 5px;
}

/* FUEL */
.car-fuel {
  font-size: 14px;
  color: #666;
}

/* NO RESULT */
.no-result {
  text-align: center;
  font-size: 18px;
  opacity: 0.6;
}

/* ================= DARK MODE ================= */

html[data-theme="dark"] .car-page {
  background: #0f0f14;
  color: white;
}

html[data-theme="dark"] .car-card {
  background: #16161f;
  color: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

html[data-theme="dark"] .car-card h3 {
  color: white;
}

html[data-theme="dark"] .car-price {
  color: #ff3c00;
}

html[data-theme="dark"] .car-fuel {
  color: #aaa;
}

html[data-theme="dark"] .filter-bar select {
  background: #16161f;
  color: white;
  border: 1px solid #333;
}

/* ================= RESPONSIVE ================= */


