.footer {
  background: linear-gradient(180deg, #0f0f14, #16161f);
  color: white;
  padding-top: 100px;
  margin-top: 100px;
  position: relative;
  
}

/* Subtle orange glow */
.footer::before {
  content: "";
  position:relative;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255,60,0,0.2), transparent 70%);
  top: -150px;
  left: -150px;
  filter: blur(100px);
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
  padding: 0 80px 60px 80px;
  position: relative;
  z-index: 2;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ff3c00;
}

.footer-logo {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 800;
}

.footer-col p {
  color: #bdbdbd;
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 14px;
}

.footer-col a {
  display: block;
  color: #bdbdbd;
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.3s ease;
  font-size: 14px;
}

.footer-col a:hover {
  color: #ff3c00;
  transform: translateX(5px);
}

.social-icons {
  margin-top: 15px;
}

.social-icons span {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.social-icons span:hover {
  color: #ff3c00;
  transform: scale(1.2);
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  padding: 25px;
  background: #0f0f14;
  border-top: 1px solid rgba(255,255,255,0.05);
  font-size: 14px;
  color: #bdbdbd;
}
