.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  z-index: 1000;
  padding: 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  font-weight: 700;
  font-size: 22px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff3c00;
}

/* BUTTONS */
.sell-btn {
  padding: 8px 18px;
  border-radius: 20px;
  background: linear-gradient(135deg, #ff3c00, #ff8800);
  color: white !important;
}

.emi-btn,
.theme-switch {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ff3c00;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.emi-btn:hover,
.theme-switch:hover {
  background: #ff3c00;
  color: white;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 22px;   /* pehle bada tha, ab compact */
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

  .nav-container {
    flex-direction: row;      /* column nahi, row hi rahe */
  }

  .logo {
    font-size: 22px;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 70%;              /* FULL WIDTH nahi */
    height: 100vh;
    background: white;
    display: none;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    box-shadow: 5px 0 20px rgba(0,0,0,0.1);
  }

  html[data-theme="dark"] .nav-links {
    background: #16161f;
  }

  .nav-links.show {
    display: flex;
  }
}

